{% extends "base.html" %}
{% load static %}
{% block content %}


<title>Phonetix</title>
<h1 class="text-center">Phonetix</h1>

<div class="text-center">

	<form method="POST">
		{% csrf_token %}
		<input type="text" name="guess" id="guess">
		<input id="fetch-call" type="submit" value="Envoyer">
	</form>
	<p id="reponse">

	</p>

	<script>

		document.querySelector("#fetch-call").addEventListener("click", event => {
					event.preventDefault();

					let form = new FormData();

					form.append("guess", document.querySelector("#guess").value);

					let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
					let request = new Request("{% url 'compute' %}", {method: 'POST',
								body: form,
								headers: {'X-CSRFToken': csrfTokenValue}});
					fetch(request)
						.then(response => response.json())
						.then(result => {
									let resultParagraph = document.querySelector("#reponse");
									resultParagraph.innerHTML = result["reponse"];
								})
				})

	</script>
</div>
{% endblock %}

