{% extends "base.html" %}
{% load static %}
{% block content %}


<title>Phonetix</title>
<h1 class="text-center">Phonetix</h1>

<div class="container text-center">
	<div class="col-sm">
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="guess" id="guess">
			<input id="fetch-call" class="btn-primary" type="submit" value="Envoyer">
			<div id="message"></div>
		</form>
	</div>
	<div id="table-score">
		{% include "table.html" %}
	</div>

	<div class="row overflow-auto" id="reponse">
	</div>

	<script>
		function getQuery(item) {
					// Sends a request to the API endpoint to fetch data

					let request = new XMLHttpRequest();
					let method = 'GET';
					let url = 'table/';
					request.open(method, url);
					request.onload = function () {
								let myHTML = request.response;
								document.getElementById('table-score').innerHTML = myHTML;
							};
					request.send();
				}

		document.querySelector("#fetch-call").addEventListener("click", event => {
					event.preventDefault();

					let form = new FormData();
					let guess = document.querySelector("#guess").value;

					form.append("guess", document.querySelector("#guess").value);

					let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
					let request = new Request("{% url 'compute' %}", {method: 'POST',
								body: form,
								headers: {'X-CSRFToken': csrfTokenValue}});
					fetch(request)
						.then(response => response.json())
						.then(result => {
									new_row="<tr><th scope='row'>"+guess+"</th><td>"+result["reponse"]+"</td></tr>";
									guess_tbl=document.getElementById("guess-table");
									getQuery(0);
									guess_tbl.innerHTML+=new_row;
								});
					document.getElementById('guess').value = '';

				})

	</script>
</div>
{% endblock %}

