{% extends "base.html" %}
{% load static %}
{% block content %}


<title>Phonetix</title>
<h1 class="text-center">Phonetix</h1>

<div class="container text-center">
	<div class="col-sm">
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="guess" id="guess">
			<input id="fetch-call" class="btn-primary" type="submit" value="Envoyer">
			<div id="message"></div>
		</form>
	</div>
	<div class="row overflow-auto" id="reponse">
	</div>

	<script>

		document.querySelector("#fetch-call").addEventListener("click", event => {
					event.preventDefault();

					let form = new FormData();
					let guess = document.querySelector("#guess").value;

					form.append("guess", document.querySelector("#guess").value);

					let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
					let request = new Request("{% url 'compute' %}", {method: 'POST',
								body: form,
								headers: {'X-CSRFToken': csrfTokenValue}});
					fetch(request)
						.then(response => response.json())
						.then(result => {
									let msgP = document.querySelector("#message");
									msgP.innerHTML = result["message"];
									let resultParagraph = document.querySelector("#reponse");
									resultParagraph.innerHTML += "<div class='row'><p class='col-sm'>"+guess+"</p> <p class='col-sm'>"+result["reponse"]+"</p></div>";
								});
					document.getElementById('guess').value = '';

				})

	</script>
</div>
{% endblock %}

